.product-form{
    width: 20rem;
    max-width: 100%;
    margin: auto;
  }
  .form-control{
    margin: 1rem 0;
  }
  .form-control label,
  .form-control input{
    display: block;
    width: 100%;
  }
  .form-control input{
    border: 1px solid #092635;
    font: inherit;
    border-radius: 8px;
  }
  button{
    font: inherit;
    border: 1px solid #092635;
    color: #092635;
    background: white;
    border-radius: 8px;
    cursor: pointer;
  }
  button:hover,
  button:active{
    background-color: #092635;
    color: white;
  }